name: Workflow

on:
  workflow_dispatch:

jobs:
  job1:
    name: Job1
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "### Hello world! :rocket:" >> $GITHUB_STEP_SUMMARY
          echo "This is the lead in sentence for the list" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY # this is a blank line
          echo "- Lets add a bullet point" >> $GITHUB_STEP_SUMMARY
          echo "- Lets add a second bullet point" >> $GITHUB_STEP_SUMMARY
          echo "- How about a third one?" >> $GITHUB_STEP_SUMMARY
      - run: |
          echo "ABCD1234" > test1.txt
      - uses: actions/upload-artifact@v3
        with:
          name: test1.txt
          path: test1.txt
  job2:
    name: Job2
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "### Hello world! :rocket:" >> $GITHUB_STEP_SUMMARY
          echo "This is the lead in sentence for the list" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY # this is a blank line
          echo "- Lets add a bullet point" >> $GITHUB_STEP_SUMMARY
          echo "- Lets add a second bullet point" >> $GITHUB_STEP_SUMMARY
          echo "- How about a third one?" >> $GITHUB_STEP_SUMMARY
      - run: |
          echo "4321DCBA" > test2.txt
      - uses: actions/upload-artifact@v3
        with:
          name: test2.txt
          path: test2.txt
